.complain_profile {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.complain_profile_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin: 20px 100px;
    border-radius: 20px;
    color: var(--text-color);
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    height: 350px;
}

.complain_profile_top_left img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 70px;
}

.complain_profile_top_right {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.complain_profile_top_right_inner {

    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.complain_profile_down {
    display: flex;
    flex-direction: row;
    margin: 10px 100px;
    height: 60%;
    gap: 20px;
}

.complain_profile_down_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    color: var(--text-color);
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    height: 300px;
    width: 50%;
}
.complain_profile_down_inner h4{
    font-weight: 500;
}

.complain_profile_down_inner h1 {
    margin: 10px;
}
.complain_profile_down_inner_img{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.complain_profile_down_inner_img img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
   
}

.admin-navbar-inside-left-inner-1 ul li.active {
    background-color: #F8ECFF;
    /* Active background color */
}

.admin-navbar-inside-left-inner-1 ul li.active a {
    color: #000000;
    /* Text color for the active link */
}