/* Light Theme by default*/
body, body.lightTheme {
    --background-color: #e5e9f6;           /* for body background */
    
    --primary-color: #8912de;               /* main colour for borders and other important stuff */

    --primary-bg-color: #ffffff;           /* for div backgrounds */
    --secondary-bg-color: #f6f4fe;          /* for div backgrounds borders and such */

    --text-color: #43415b;                 /* for all text generally in body */
    
    /* Navigation and Sidebar */
    --nav-bg-color: #8912de;               /* for sidebars and navbars bg */
    --nav-text-color: #c3b4cd;             /* normal navbar text colour */
    --nav-active-text-color: #ffff;       /* text colour when hovering and for active tab */
    --link-color: #4b97cf;
    
    --inset-shadow-color: #ffffff;         /* for box-shadow inset */
    --shadow-color: #000000;               /* shadow effect colour */

    /* Button and Hover Effects */
    --button-color: #8912de;            /* when hovering */
    --button-hover-color: #2c215c;      /* Darker blue for button hover */
    --button-text-color: #d6d6d6;          /* text on buttons */
}

/* Dark Theme - only changing the primary colour and stuff */
body.darkTheme {
    /* --background-color: #1a2e3b;           Dark blue-gray */
    --background-color: #18181b;           /* Dark blue-gray */
    
    --primary-color: #450871;              /* Bright blue for main accents */
    
    --primary-bg-color: #2c3e50;            /* mostly for div backgrounds */
    --secondary-bg-color: #3a3b3c;          /* for div backgrounds borders and such */
    
    --text-color: #f8f9fa;                 /* Light blue for readability */
    
    /* Navigation and Sidebar same as in light */
    
    --nav-bg-color: #450871;               /* for sidebars and navbars bg */
    --nav-text-color: #c3b4cd;             /* normal navbar text colour */
    --nav-active-text-color: #ffff;       /* text colour when hovering and for active tab */
    --link-color: #4b97cf;
    
    --inset-shadow-color: #000000;         /* for box-shadow inset */
    --shadow-color: #ffffff;               /* shadow effect colour */
    
    /* Button and Hover Effects same as light */
    
    --button-color: #450871;            /* when hovering */
    --button-hover-color: #2c215c;      /* Darker blue for button hover */
    --button-text-color: #d6d6d6;          /* text on buttons */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
nav, footer {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color)
}
button {
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover {
    background-color: var(--button-hover-color);
    transition: 0.3s;
    cursor: pointer;
}

/* --nav-bg-color: #6a0dad;               for sidebars and navbars bg */
/* --button-color: #9b009b;            when hovering */
