details {
    border: 2px solid var(--primary-color);
    border-radius: 15px;

    padding: 2%;
    background-color: var(--background-color);
}
details:hover {
    transform: scale(1.01);
    transition-duration: 0.3s;
}
details summary {
    font-size: 1.3rem;
    font-weight: 500;
}
details ul {
    margin-left: 10px;
}

.dashArea#vpDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vpLogo {
    width: clamp(5em, 8vw, 10em);
    height: auto;
    background-color: var(--primary-color);
    border-radius: 50%;
}

#contactUsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}