/*
to include icons in the html page:
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
*/

/* font: */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}
a:hover {
    cursor: pointer;
}
button:hover {
    transition: 0.3s;
    transform :scale(1.05);
    cursor: pointer;
}

body {
    display: flex;
}
.bodyArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    width: 100%;
}
.bodyArea > *:not(footer, .dashArea-container) {
    margin: 2rem 6rem;
}
.bodyHeader, .dashHeader {
    font-size: 2em;
}
.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashArea {
    background-color: var(--primary-bg-color);
    padding: 2em;
    border-radius: 25px;
    box-shadow: 0 0 10px var(--shadow-color);

    display: flex;
    flex-direction: column;
    gap: 1em;

    overflow-y: auto;
    transition: all 0.3s ease-in;
}
.dashArea-container {
    margin: 2rem 4rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 1em;
}

.profilePic {
    height: 10em;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    background-color: var(--shadow-color);
    padding: 5px;
}

:root {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
}

/* the search filters in appointment and other service pages: */
.searchFilter-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}
.searchFilter {
    border: 1px solid var(--primary-color)
}