.formContainer {
    border-radius: 20px;
    border: 2px solid var(--primary-border-color);
    padding: 2em;

    width: 80vw;
    margin: 1em auto 1em auto;

    display: flex;
    justify-content: center;
    gap: 2rem;
}

.formContainer .logoPart {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 40%;
    border-radius: 10px;
    padding: 1em;

}
.logoPart img {
    width: 100%;
    height: auto;
    object-fit: cover;

    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;

    border: 1px solid var(--shadow-color);
    padding: 15px;
    margin-bottom: 15px;

    font-size: 1.3em;
}
form fieldset legend {
    font-weight: bold;
}
form input {
    padding: 5px;
    font-size: 1rem;
}
form input:valid {
    border: 2px solid green;
}
form input[type=date]:invalid {
    color: grey;
}
.formButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
.formButtons button {
    padding: 5px;

    font-size: 1.2em;

    border-radius: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);

    width: 10vw;
}
.formButtons button:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-color);
}
