/*
to include icons in the html page:
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
*/

/* font: */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    font-family: 'Poppins', sans-serif;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
}

/* content area with many dashAreas (usually sections) */
.dashContent {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    padding-top: 20px;
    padding-bottom: 20px;
}
.dashArea {
    background-color: var(--primary-bg-color);
    border: 2px solid var(--primary-border-color);
    box-shadow: 0px 0px 15px var(--shadow-color);
    
    border-radius: 10px;
    margin: 2rem 10rem;
    padding: 15px;

    height: fit-content;

    display: flex;
    flex-direction: column;
}
.dashArea h1,
.dashArea h2,
.resultZero {
    margin: 15px;
    margin-left: 10%;
}

/* the area where php retrived data are mapped */
.dashAreaContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;

    padding: 10px;
}

/* content with just a single area */
.aloneContent {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    margin: 5vh 15vw;
    padding: 5%;

    background-color: var(--primary-bg-color);
    border: 2px solid var(--primary-border-color);
    box-shadow: 0px 0px 20px var(--shadow-color);
    
    border-radius: 10px;
    height: fit-content;
}


@media (width <= 1200px) {
    :root {
        font-size: 0.9rem;
    }
}
@media (width <= 900px) {
    :root {
        font-size: 0.8rem;
    }
}
@media (width <= 750px) {
    :root {
        font-size: 0.7rem;
    }
}
@media (width <= 500px) {
    :root {
        font-size: 0.6rem;
    }
}