.hero-section {
    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.hero-section header {
    font-size: 3.5em;
    font-weight: bold;
}
.hero-section p {
    font-size: 2em;
    padding: 1em;
}
.hero-section .heroImg {
    height: auto;
    width: 40%;
}