.admin-regi{
    width: 100%;
}
.admin-regi-top {
    margin: 10px 100px;
    height: 80px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-regi-top h1{
    font-size: 35px;
}
.admin-regi-inside{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 100px;
    justify-content: center;
}
.admin-regi-inside-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    color: var(--text-color);
    height: 400px;

}
.admin-regi-inside-left label{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}
.admin-regi-inside-left input{
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    width: 70%;
    border: none;
}
.admin-regi-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.admin-regi-bottom button{
    padding: 10px;
    font-size: 20px;
    background-color: var(--background-light);
    color: var(--text-white);
    border: none;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    align-items: center; 
}
.admin-regi-bottom button:hover{
    background-color: var(--background-primary);
    color: var(--text-white);
    transform: scale(1.1);
}
.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2em;
   
}
.admin-regi-inside-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    color: var(--text-color);
    height: 400px;
    
}
.admin-regi-inside-right img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
}
.admin-regi-inside-right h3{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

.blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B89ACB;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 1000; 
    
}