.user-account{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user-account-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 200px;
    color: var(--text-color);
    background-color: var(--background-white);
    height: 60%;
    width: 70%;
    border-radius: 20px;
    border: 3px solid var(--background-primary);
}
.user-account-inside-left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-account-inside-left img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;

}
.user-account-outside{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    justify-content:center;
    align-items: center;
    height: 40%;
    width: 70%;
}

.user-account-outside-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 40%;
    
}
.user-account-outside-left a{
    width: 300px;
    height: 40px;
    background-color: var(--background-light);
    border: none;
    border-radius: 5px;
    color: var(--text-white);
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.user-account-outside-left a:hover{
    background-color: var(--background-primary);
    color: var(--text-white);
    transform: scale(1.1);
}
.user-account-outside table{
    width: 100%;
    border: 3px solid var(--background-primary);
}
.user-account-outside-right h2{
    font-size: 17px;
    font-weight: 500;
}
.admin-navbar-inside-left-inner-1 ul li.active {
    background-color: #F8ECFF; 
}

.admin-navbar-inside-left-inner-1 ul li.active a {
    color: #000000; 
}
table {
    width: 90%;
    border-collapse: separate; 
    border-spacing: 10px; 
    margin: 20px 100px; 
    border-radius: 10px; 
    padding: 20px;
    background-color: var(--background-white);
}

table tr {
    margin: 10px 0; 
    transition: background-color 0.3s ease; 
}


td {
    text-align: left;
    font-size: 18px;
    padding: 20px 15px; 
    border-radius: 5px; 
    width: 60%;
}

th {
    color: white; 
    font-size: 20px;
    font-weight: bold;
    border: none;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block; 
    margin-bottom: 5px; 
    color:var(--background-primary);
}
.regi-icon{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.icon{
    font-size: 30px;
    color: var(--background-primary);
}