.serviceCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    margin-top: 20px;

    margin: 10px;
}
.serviceCard {
    width: 15%;
    padding: 1em;

    text-align: center;

    background-color: var(--primary-bg-color);
    
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}
.serviceCard img {
    width: 90%;
    object-fit: contain;
}