.userTypes {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 3rem;
}
.userTypes .userCard {
    width: 20%;
    padding: 1rem;
    background-color: aqua;

    /* border: 1px solid blue; */
    border-radius: 20px;

    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.userCard img {
    width: 80%;
    height: auto;

    border-radius: 20px;
    background-color: lightblue;
}
.userTypes .userCard .userTitle {
    font-size: 1.5em;
    font-weight: bold;
}
.userTypes .userCard .userDescription {
    font-size: 1em;
}